<!DOCTYPE html>
<html>
  <head>
    <title>LifeBot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <img src="https://cdn1.iconfinder.com/data/icons/bots/280/bot-10-2-512.png" alt="MedBot" style="width:90px;height:90px;">
    <%= yield %>
  </body>
</html>
